body {
  background-image: linear-gradient(
    #03045e,
    #023e8a,
    #0077b6,
    #0096c7,
    #00b4d8,
    #48cae4,
    #90e0ef,
    #ade8f4,
    #caf0f8
  );
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.custom-class {
  display: none;
}
@include media-breakpoint-up(sm) {
  .custom-class {
    flex-direction: row;
  }
}

a {
  text-decoration: none;
}
