#card-container {
  width: 50%;
  margin: 0 auto;
  height: 100vh;
}

#about-me-img {
  max-width: 300px;
}

#about-me-body {
}

#about-me-title {
  font-size: 4rem;
  color: teal;
}

#about-me-text {
  color: black;
  font-size: 20px;
}

body {
  background-image: linear-gradient(
    #03045e,
    #023e8a,
    #0077b6,
    #0096c7,
    #00b4d8,
    #48cae4,
    #90e0ef,
    #ade8f4,
    #caf0f8
  );
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Project Card Styling*/

#projectCardContainer {
  margin-top: 100px;
}

#projectCard{
  width: 25%;
}

#projectImage {
  max-width: 100%;
  height: 100%;    
}

#projectImgContainer {
 height: 100%;
}

#repoBtn {
  position: absolute;
  bottom: 0;
  width: 100%;
}


